<TMPL_INCLUDE NAME="header_lvl2.tmpl">
<div id="content">
<br>
<span style="font-weight:bold; font-size:1.6em;"><a name="top"><TMPL_VAR NAME=SPNAME></a></span> [<a title="show package information on tracker.debian.org" href="<TMPL_VAR NAME=TRACKERURL>">&nbsp;T&nbsp;</a>]<br> Show: [<a href="<TMPL_VAR NAME=ERRORS>">errors only</a>]
</div>

<div id="content">
<br>
<TMPL_VAR NAME=SPDATA>

<table>
<TMPL_VAR NAME=PACKAGETABLE>
</table>
</div></div>
<TMPL_INCLUDE NAME="footer.tmpl">
