<TMPL_INCLUDE NAME="header_lvl1.tmpl">
<div id="content">
 <h1>Source packages for <a href="https://qa.debian.org/developer.php?login=<TMPL_VAR NAME=EMAIL>"><TMPL_VAR NAME=MAINTAINER></a> <span title="Uploader">(u)</span></h1>

  <p>
    uploaders are listed sorted case-insensitively by package maintainer....
  </p>

</div>

<div id="content">
<table style="width:100%;">
<TMPL_VAR NAME=PACKAGETABLE>
</table>
</div></div>
<TMPL_INCLUDE NAME="footer.tmpl">
