@import url("debian.css");

#searchform {
text-align:center;


}
.icon_info {
padding-left:1em;
vertical-align:middle;
}

.icon_warn {
padding-left:1em;
vertical-align:middle;
}

.res_ok {
background-color:#CFC;
}

.res_ukn {
background-color:#CCC;
}


.res_err {
background-color:#FCC;
}

.res_warn {
background-color:#FFC;
}

.stdouterrtable {
width:100%;
border-right:solid 1px;
}

.wmname {
background-color:#CCC;
}

.toolkit_res {
text-align:center;
}

.session_name {
border-right:dashed 1px;
}

.lastrunifo {
font-size:0.8em;
}

.sourcepackage {
font-style:italic;
}

td {
    text-align:left;
    margin-left:10px;
  }

th {
    text-align:center;
   border-right:solid 1px;
   border-bottom:solid 1px;
   padding-bottom:-1px;
 
}


.ic {
    text-align:right;
}

.nc {
border-right: solid 1px;
}
.curlcol {
 
    text-align:center;
}

.htmlcol {
 
}

th {
text-align:center;
padding-left:0.5em;
padding-right:0.5em;
}

.searchtable {
border:solid 1px;

padding-left: 1em;
padding-right: 1em;
background-color:#DDDDDD;

}

.searchtable td {
text-align:center;
border-bottom:none;
border-top:none;
}


table {
     border:solid 1px;
     border-right:none;
    }


.controlfile {
    background-color:#daf8f8;
    padding:5px; 
    margin:5px; 
    border:solid 1px;
    box-shadow: 2px 2px 5px #888888;
}

.metadatafile {
    background-color:#fff7cc;
    padding:5px; 
    margin:5px; 
    border:solid 1px;
    box-shadow: 2px 2px 5px #888888;
}

.even {
background-color:#EEEEEE;

}

.odd {
background-color:#CCCCCC;
}

.ok {
background-color: #c0ffca;
}

.crit {
background-color: #FFc9c0;
}

.curl {
border-right: solid 1px #000000;
padding-left: 0.5em;
padding-right: 1em;
text-align:left;
}

.http {
border-right: solid 1px #FFFFFF;
padding-left: 1em;
padding-right: 0.5em;
text-align:right;

}

.nodata {
text-align:center;
padding-left:0px;
padding-right:0px;
color:#999999;
}


.fleftpill {
-moz-border-radius:5px 1px 1px 5px; /* Firefox */
-webkit-border-radius:5px 0px 0px 5px; /* Chrome, Safari */
-khtml-border-radius:3px; /* Konqueror */
border-radius:5px 0px 0px 5px; /* CSS3 */
behavior:url(border-radius.htc); /* Internet Explorer */
width:100px;
height:32px;
} 

.rhightpill {
-moz-border-radius:0px 5px 5px 0px; /* Firefox */
-webkit-border-radius:0px 5px 5px 0px; /* Chrome, Safari */
-khtml-border-radius:0px 5px 5px 0px; /* Konqueror */
border-radius:0px 5px 5px 0px; /* CSS3 */
behavior:url(border-radius.htc); /* Internet Explorer */
width:100px;
height:32px;
} 

.infobox {
padding: 0.8em;
border:solid 1px;
margin-bottom: 0.8em;
width:auto;
height: 1.5em;
background-color:#FDFDDD;
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Chrome, Safari */
-khtml-border-radius:5px; /* Konqueror */
border-radius:5px; /* CSS3 */
behavior:url(border-radius.htc); /* Internet Explorer */

display: inline-block;
}

.vcsicon {
padding-left:2px;
font-size:8px;
//font-family:Courier;
float:left;
text-align:center;
}

.detailed
{
border:solid 1px;
padding: 0.2em;
margin: 0.2em;
box-shadow: 1px 1px 3px #888888;
}

.tt {
font-family:monospace;
}